@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
.card_body {

    width: 350px;
    height: 300px;
    padding-left: 50px;
    border-radius: 15px;
    display: flex;
    /* align-items: center; */
    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); */
    font-size: 3vw;
	/* margin: max(1rem, 3vw);
	padding: 3vw; */

    
}
.card_text {
    overflow-wrap: break-word;
}

.card_body p{
    color: white;
    margin-bottom: 5px;
    
}
.product_name{
    font-size: 2rem;
    font-family: 'Kdam Thmor Pro', sans-serif;}
.product_inventor{
    font-size: 1.2rem;
    
}
.product_timestamp {
    font-size: x-small;
}
.product_licensee{
    font-size: small;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  
  /* body {
      font-family: Raleway, sans-serif;
      text-align: center;
      margin: 0;
      padding: 1rem;
      background-color: rgba(10, 12, 18, 1);
      color: white;
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  } */
  
  p {
      margin: 0;
  }
  
  :root {
      --d: 2500ms;
      --angle: 90deg;
      --gradX: 100%;
      --gradY: 50%;
      --c1: rgba(168, 239, 255, 1);
      --c2: rgba(168, 239, 255, 0.1);
  }
  
  .wrapper {
      min-width: min(40rem, 100%);
  }
  
  /* .box {
      font-size: 3vw;
      margin: max(1rem, 3vw);
      border: 0.35rem solid;
      padding: 3vw;
      border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  } */
  
  .box:nth-child(2) {
      border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
      animation: borderRadial var(--d) linear infinite forwards;
  }
  
  @keyframes borderRotate {
      100% {
          --angle: 420deg;
      }
  }
  
  @keyframes borderRadial {
      20% {
          --gradX: 100%;
          --gradY: 50%;
      }
      40% {
          --gradX: 100%;
          --gradY: 100%;
      }
      60% {
          --gradX: 50%;
          --gradY: 100%;
      }
      80% {
          --gradX: 0%;
          --gradY: 50%;
      }
      100% {
          --gradX: 50%;
          --gradY: 0%;
      }
  }


  .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    padding-left: 2rem;
    /* justify-content: center; */
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }



  